body {
  background-color: #027a9c;
  color: white;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  color: white;
  font-family: "cursive", sans-serif;
}

img {
  border-color: black;
}

a:hover{
    color:#000000;
}

/* Add stroke to text */
.stroked-text {
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
}

.button {
  background-color: #000000;
  color: white;
  padding: 20px 50px;
  margin: 20px;
  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  display: inline-block;
}


.button:hover {
  background-color: #ff0000;
  transform: scale(1.1);
  border-color: #000000;
}

.button-container {
  margin: 40px 0;
}
