body {
  background-color: #9FE2BF;
  color: white;
  text-align: center;
}

h3 {
  color: blue;
  -webkit-text-stroke: 2px black;
}

h1 {
  color: black;
  -webkit-text-stroke: 2px black;
}

h2 {
  color: black;
  -webkit-text-stroke: 2px black;
}
