body {
  background-color: #9FE2BF;
  color: white;
  text-align: center;
  text-shadow: 
    -1px -1px 0 black,
     1px -1px 0 black, 
    -1px  1px 0 black, 
     1px  1px 0 black;
}

h3 {
  color: blue;
}
