body {
  background-color: #9FE2BF;
  color: white;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  color: white;
  background-color: #87CEEB;
}

img {
  border-color: black;
}

a:hover{
    color:#ffffff;
}

/* Add stroke to text */
.stroked-text {
    text-stroke: .5px black;
    text-stroke: .5px black;

}
