body {
  background-color: #9FE2BF;
  color: white;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  color: blue;
  background-color: #006400;
}

img {
  border-color: black;
}

a:hover{
    color:#ffffff;
}

/* Add stroke to text */
.stroked-text {
    color: white; 
    -webkit-text-stroke: 2px black;
    text-stroke: 2px black;
    font-size: 48px;
    font-weight: bold;
}
